<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Experiencia: Crear o Modificar</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>

    </head>

    <body class="container">

        <h1 class="text-center bg-primary text-white">CREAR / MODIFICAR</h1>

        <form th:action="@{/experiencia/guardar}" method="Post" th:object="${experiencia}">
            <input type="hidden" id="id_experiencia" th:field="*{id_experiencia}"/>

            <div class="mb-3">
                <label for="nombre_experiencia">Tipo de Experiencia </label>
                <input type="text" id="nombre_experiencia" th:field="*{nombre_experiencia}" placeholder="Type of Experience" class=form-control/>
                <span th:if="${#fields.hasErrors('nombre_experiencia')}" th:errors="*{nombre_experiencia}">Error en Tipo de Experiencia</span>
            </div>

            <div class="mb-3">
                <label for="puesto">Nombre del Puesto </label>
                <input type="text" id="puesto" th:field="*{puesto}" placeholder="Job Name" class=form-control/>
                <span th:if="${#fields.hasErrors('puesto')}" th:errors="*{puesto}">Error en Puesto</span>          
            </div>

            <div class="mb-3">
                <label for="lugar">Lugar </label>
                <input type="text" id="lugar" th:field="*{lugar}" placeholder="Place" class=form-control/>
                <span th:if="${#fields.hasErrors('lugar')}" th:errors="*{lugar}">Error en Lugar</span>          
            </div>

            <div class="mb-3">
                <label for="descrip_experiencia">Descripción del Puesto </label>
                <input type="text" id="descrip_experiencia" th:field="*{descrip_experiencia}" placeholder="Job Description" class=form-control/>
                <span th:if="${#fields.hasErrors('descrip_experiencia')}" th:errors="*{descrip_experiencia}">Error en Descripción del Puesto</span>          
            </div>
            
            <div class="mb-3">
                <label for="date_experiencia">Fecha </label>
                <input id="date_experiencia" type="date" th:field="*{date_experiencia}" class=form-control/>
                <span th:if="${#fields.hasErrors('date_experiencia')}" th:errors="*{date_experiencia}">Error en la Fecha</span>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-success" name="guardar" value="guardar"/>
                <a th:href="@{/experiencia}" class="btn btn-info">Volver</a>
            </div>

        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    </body>
</html>