<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Educacion: Crear o Modificar</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>

    </head>
    
    <body class="container">

        <h1 class="text-center bg-primary text-white">CREAR / MODIFICAR</h1>

        <form th:action="@{/educacion/guardar}" method="Post" th:object="${educacion}">
            <input type="hidden" id="id_educacion" th:field="*{id_educacion}"/>

            <div class="mb-3">
                <label for="carrera">Carrera </label>
                <input type="text" id="carrera" th:field="*{carrera}" placeholder="Stady Name" class=form-control/>
                <span th:if="${#fields.hasErrors('carrera')}" th:errors="*{carrera}">Error en Carrera</span>
            </div>

            <div class="mb-3">
                <label for="institucion">Institución </label>
                <input type="text" id="institucion" th:field="*{institucion}" placeholder="Institution" class=form-control/>
                <span th:if="${#fields.hasErrors('institucion')}" th:errors="*{institucion}">Error en Institución</span>          
            </div>

            <div class="mb-3">
                <label for="descrip_educacion">Descripción </label>
                <input type="text" id="descrip_educacion" th:field="*{descrip_educacion}" placeholder="Description" class=form-control/>
                <span th:if="${#fields.hasErrors('descrip_educacion')}" th:errors="*{descrip_educacion}">Error en Descripción</span>          
            </div>

            <div class="mb-3">
                <label for="titulo">Título </label>
                <input type="text" id="titulo" th:field="*{titulo}" placeholder="Title" class=form-control/>
                <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Error en Título</span>          
            </div>

            <div class="mb-3">
                <label for="estado">Estado </label>
                <input type="text" id="estado" th:field="*{estado}" placeholder="Estado" class=form-control/>
                <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">Error en Estado</span>          
            </div>
            
            <div class="mb-3">
                <label for="date_educacion">Fecha </label>
                <input id="date_educacion" type="date" th:field="*{date_educacion}" class=form-control/>
                <span th:if="${#fields.hasErrors('date_educacion')}" th:errors="*{date_educacion}">Error en la Fecha</span>
            </div>
            
            <div class="text-center">
                <input type="submit" class="btn btn-success" name="guardar" value="guardar"/>
                <a th:href="@{/educacion}" class="btn btn-info">Volver</a>
            </div>
            

        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    </body>
</html>