<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Idioma: Crear o Modificar</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>

    </head>

    <body class="container">

        <h1 class="text-center bg-primary text-white">CREAR / MODIFICAR</h1>

        <form th:action="@{/idioma/guardar}" method="Post" th:object="${idioma}">
            <input type="hidden" id="id_idioma" th:field="*{id_idioma}"/>

            <div class="mb-3">
                <label for="name_idioma">Idioma </label>
                <input type="text" id="name_idioma" th:field="*{name_idioma}" placeholder="Idiom" class=form-control/>
                <span th:if="${#fields.hasErrors('name_idioma')}" th:errors="*{name_idioma}">Error en Idioma</span>
            </div>

            <div class="mb-3">
                <label for="oral">Nivel Oral </label>
                <input type="text" id="oral" th:field="*{oral}" placeholder="Oral" class=form-control/>
                <span th:if="${#fields.hasErrors('oral')}" th:errors="*{oral}">Error en Nivel Oral</span>
            </div>

            <div class="mb-3">
                <label for="escrito">Nivel Escrito </label>
                <input type="text" id="escrito" th:field="*{escrito}" placeholder="Written" class=form-control/>
                <span th:if="${#fields.hasErrors('escrito')}" th:errors="*{escrito}">Error en Nivel Escrito</span>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-success" name="guardar" value="guardar"/>
                <a th:href="@{/idioma}" class="btn btn-info">Volver</a>
            </div>

        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    </body>
</html>