<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Persona: Crear o Modificar</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>

    </head>
    
    <body class="container">

        <h1 class="text-center bg-primary text-white">CREAR / MODIFICAR</h1>

        <form th:action="@{/guardar}" method="Post" th:object="${persona}">

            <input type="hidden" id="id_persona" th:field="*{id_persona}"/>

            <div class="mb-3">
                <label for="apellido">Apellido: </label>
                <input type="text" id="apellido" th:field="*{apellido}" placeholder="Surname" class=form-control/>
                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error en Apellido</span>
            </div>

            <div class="mb-3">
                <label for="nombre">Nombre: </label>
                <input type="text" id="nombre" th:field="*{nombre}" placeholder="Name" class=form-control/>
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en Nombre</span>          
            </div>

            <div class="mb-3">
                <label for="email">Email: </label>
                <input type="email" id="email" th:field="*{email}" placeholder="Email" class=form-control/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error en Email</span>
            </div>

            <div class="mb-3">
                <label for="dni">DNI: </label>
                <input type="number" id="dni" th:field="*{dni}" placeholder="DNI" class=form-control/>
                <span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">Error en DNI</span>
            </div>

            <div class="mb-3">
                <label for="telefono">Celular: </label>
                <input type="tel" id="telefono" th:field="*{telefono}" placeholder="Mobile" class=form-control/>
                <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error en Celular</span>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-success" name="guardar" value="guardar"/>
                <a th:href="@{/}" class="btn btn-info">Volver</a>
            </div>

        </form>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    </body>
</html>