<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Proyectos</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>

    </head>
    <body class="container">
        <div class="container">
            <h1 class="text-center bg-primary text-white">PROYECTOS</h1>

            <div th:if="${proyectos != null and !proyectos.empty}">
                <table class="table table-hover">
                    <thead class="table-secondary">
                        <tr>
                            <th>Nombre del Proyecto</th>
                            <th>Estado</th>
                            <th>Descripción</th>
                            <th>Link</th>
                            <th>Fecha</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="i : ${proyectos}">
                            <td th:text="${i.name_proyecto}">Nombre del Proyecto</td>
                            <td th:text="${i.estado}">Estado</td>
                            <td th:text="${i.descrip_proyecto}">Descripción</td>
                            <td th:text="${i.link_proyecto}">Link</td>
                            <td th:text="${#temporals.format(i.date_proyecto, 'dd/MM/YYYY')}"></td>
                            <!--
                            <td><img class="bd-placeholder-img card-img-top" th:src="${i.imagen}" style="width: auto; height: 60px;"/></td>
                            -->
                            <td><a th:href="@{/proyecto/editar/} + ${i.id_proyecto}" class="btn btn-warning" th:text="Editar"></a> </td>
                            <td><a th:href="@{/proyecto/eliminar/} + ${i.id_proyecto}" class="btn btn-danger" th:text="Eliminar"></a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-center">
            <a th:href="@{/proyecto/agregar}" class="btn btn-success">Crear</a>
            <a th:href="@{/}" class="btn btn-info">Volver</a>
        </div>
        
        <div th:if="${proyectos == null or proyectos.empty}" class="alert alert-danger" role="alert">
            La lista de Proyecto está vacía
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    </body>
</html>